
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}

	
	<!-- Wrapper -->
      <div id="wrapper">




          <!-- Support Online -->
          @section BannerS
                {
          <!-- Banner content -->
          <div class="rst-banner-content">
              <div class="container">
                  <div class="">
                      <h5>Make your Support</h5>
                      <h1>Start Connect</h1>
                  </div>
              </div>
          </div>
          <!-- Banner content -->
          }

          

         

          <!-- Main page -->
          <section class="rst-contact-page">

              <!-- Breadcrumb bar -->
              <div class="rst-breadcrumb-bar">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12 col-lg-6">
                              <p><b>250+</b> Customers</p>
                          </div>
                          <div class="col-sm-12 col-lg-6">
                              <ul class="breadcrumb">
                                  <li>
                                      <a href="~/Home/index">Home</a>
                                  </li>
                                  <li><span>Contact</span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Breadcrumb bar -->
              <!-- Single Content -->
              <div class="rst-post-container">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-8">

                              <!-- Single Content -->
                              <div class="rst-single-content">
                                  <div class="rst-contact-form">
                                      <form method="post" action="submit.php" name="sentMessage" id="contactForm" novalidate>
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  <h3>Contact Form</h3>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <input class="text required" type="text" placeholder="Name" name="contact-name" id="contact-name" data-validation-required-message="Please enter your Name." />
                                                      <p class="help-block text-danger"></p>
                                                  </div>
                                                  <div class="form-group">
                                                      <input class="text required" type="text" placeholder="Subject" name="contact-subject" id="contact-subject" data-validation-required-message="Please enter your Subject." />
                                                      <p class="help-block text-danger"></p>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <input class="text required email" type="email" placeholder="Email" name="contact-email" id="contact-email" data-validation-required-message="Please enter your Email." />
                                                      <p class="help-block text-danger"></p>
                                                  </div>

                                                  <div class="form-group">
                                                      <select name="contact-category" id="contact-category">
                                                          <option value="design">Design</option>
                                                          <option value="web">Web</option>
                                                          <option value="portfolio">Portfolio</option>
                                                      </select>
                                                      <p class="help-block text-danger"></p>
                                                  </div>

                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-xs-12 rst-contactsubmit">
                                                  <div class="form-group">
                                                      <textarea name="contact-message" id="contact-message" cols="30" rows="10" placeholder="Message" data-validation-required-message="Please enter your Message."></textarea> <!-- required data-validation-required-message="Please enter your message." -->
                                                      <p class="help-block text-danger"></p>
                                                      <div id="success"></div>
                                                  </div>
                                                  <input class="btn btn-primary btn-lg" type="submit" value="SUBMIT" />
                                              </div>
                                          </div>
                                      </form>
                                  </div>



                              </div>
                              <!-- Single Content -->

                          </div>
                          <div class="col-sm-4">
                              <div class="rst-sidebar rst-sidebar-right">
                                  <aside>
                                      <div class="widget widget_info">
                                          <h3>Chennai Office</h3>
                                          <ul>
                                              <li><span>#23 Govindan Road, </span></li>
                                              <li><span>Near ECI Church and Opp. to Poorvika, </span></li>
                                              <li><span>West Mambalam, Chennai 600033</span></li>
                                              <li><a href="tel:9894496128">+91 98 944 96128</a></li>
                                              <li><a href="mailto:Info@addon.cc">info@addon.cc</a></li>
                                          </ul>
                                      </div>
                                  </aside>
                                  <aside>
                                      <div class="widget widget_info">
                                          <h3>Corporate Office</h3>
                                          <ul>
                                              <li><span>Opp. to Balaji(Aascars) Theatre, </span></li>
                                              <li><span>near Indian Overseas Bank, </span></li>
                                              <li><span>Katpadi, Vellore, Tamil Nadu 632007</span></li>
                                              <li><a href="tel:9894496128">+91 98 944 96128</a></li>
                                              <li><a href="mailto:tamilselvan.addon@gmail.com">tamilselvan.addon@gmail.com</a></li>
                                          </ul>
                                      </div>
                                  </aside>
                              </div>
                          </div>
                      </div>

                  </div>

                  <!-- Custom map -->
                  <section id="cd-google-map">
                      <div id="google-container"></div>
                      <div id="google-container"></div>
                  </section>
                  <!-- Custom map -->

              </div>
              <!-- Single Content -->
              <!-- Social bar -->
              <div class="rst-socials-bar">
                  <div class="rst-social-item">
                      <a href="https://www.facebook.com/addon365"><i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="rst-social-item">
                      <a href="https://twitter.com/addonid"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="rst-social-item">
                      <a href="https://www.linkedin.com/company/addon-technologies"><i class="fa fa-linkedin"></i></a>
                  </div>
           
                  <div class="rst-social-item">
                      <a href="https://in.pinterest.com/addontech"><i class="fa fa-pinterest"></i></a>
                  </div>
                  <div class="clear"></div>
              </div>
              <!-- Social bar -->

          </section>
          <!-- Main page -->



      </div>
	<!-- Wrapper -->
