
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>
<form method="post" enctype="multipart/form-data" action="/Leads/UploadForm">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="files" multiple />
    </div>
    <div>
        <p>Your Username</p>
        <input type="text" name="username" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

